.App{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.App-header{
    color: white;
    font-size: 2em;
}


.image{
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.button{
    background-color: #282c34;
    color: white;
    font-size: 2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;
    border-radius: 5px;
}